body {
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}
svg {
  background: #353535;
}
svg .land {
  fill: #cecece;
  stroke: white;
  stroke-width: 0.1;
}
svg .strike {
  fill: #00e6ac;
  opacity: 0.7;
}
svg .strike:hover {
  fill: #fa4242;
}
.tooltip {
  position: absolute;
  border: 1px #f2f2f2 solid;
  border-radius: 3px;
  padding: 10px 12px;
  color: #333333;
  font-size: 0.8em;
  background: #f2f2f2;
  pointer-events: none;
}
.tooltip strong {
  font-weight: 600;
}
.hidden {
  opacity: 0;
}
.tooltip .years {
  padding-top: 5px;
  font-size: 0.7em;
  color: #666666;
}
