body {
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}
svg {
  background: #333;
}
svg .land {
  fill: #444;
  stroke: #ccc;
  stroke-width: 0.1;
}
svg .strike {
  fill: #00e6ac;
  opacity: 0.7;
}
svg .strike:hover {
  fill: #fa4242;
}
.tooltip {
  position: absolute;
  border: 1px #eee solid;
  border-radius: 3px;
  padding: 10px 12px;
  color: #333333;
  font-size: 14px;
  background: #eee;
  pointer-events: none;
}
.tooltip strong {
  font-weight: 600;
}
.hidden {
  opacity: 0;
}
.tooltip .years {
  padding-top: 5px;
  font-size: 12px;
  color: #666;
}
