body {
	//* background-color: #abf0d1; *//
	color: white;
	text-align: center;
	margin-top: 15vh;
	height: 100%
	background-color: transparent;
}

h1, h2, h3, a, span a {
	color: white;
}

a, a:hover, #tempUnit {
	text-decoration: none;
	color: white;
	font-size: 0.3em;
	top: -34px;
	left: -7px;
	position: relative;
}

i {
	color: white;
	font-size: 5em;
}

.cityName {
	color: white;
	font-size: 1.5em;
}

.temperature {
	font-weight: 200;
	font-size: 5em;
	margin-left: 10px;
	color: white;
}

.tempValue {
	position: relative;
	left: 12px;
	color: white;
}

.description::first-letter {
	text-transform: capitalize;
	color: white;
}

h3 {
	font-weight: normal;
	font-size: 1.2em;
	margin-bottom: -10px;
	color: white;
}
